
@font-face {
    font-family: 'Avenir Next';
    src: url("./fonts/AvenirNextLTPro-Regular.otf");

}


@font-face {

    font-family: 'Avenir Next Pro';
    src: url("./fonts/AvenirNextLTPro-It.otf");

}

@font-face {

    font-family: 'Avenir Next Bold';
    src: url("./fonts/AvenirNextLTPro-Bold.otf");

}