@use 'scss/fonts';
@use 'scss/buttons';
@use 'scss/footer';
@use 'scss/reusable';
@use 'scss/responsive';

*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    background-color: #FBF8F6;
    margin: 0px;
 
.container {

    font-family: 'Avenir Next';
    font-weight: 400;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;


    @include responsive.sm {
        width: 100%;
    }

    .header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        @include responsive.sm {
            justify-content: space-around;
        }




        .header-nav {


            font-family: 'Avenir Next';
            font-variant: small-caps;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            column-gap: 48px;
            color: #333333;
            font-size: 16px;

            @include responsive.sm {
                display: none;
            }

            & li a:not(.register) {

                text-decoration: none;
                color: #333333;
                font-weight: 500;
                font-size: 16px;
            }
        }

        .mobile-logo {

            display: none;

            @include responsive.sm {
                display: block;
            }

            & svg {
                width: 28px;
                position: relative;
                bottom: -7px;
                height: 28px;
            }

        }





    }

    .sub-header {

        margin-top: 70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        column-gap: 50px;
        position: relative;

        @include responsive.sm {
            overflow: clip;
            grid-template-columns: 90% 10%;
            column-gap: 0px;
        }


        .sub-header-content {
            margin-left: 40px;
            background-image: url("disc.svg");
            background-repeat: no-repeat;
            background-position: 28% 0%;

            .sub-header-head {

                font-family: 'Avenir Next';
                font-variant: small-caps;
                font-style: normal;
                font-size: 48px;
                line-height: 116%;
                max-width: 83%;
                color: #333333;

                @include responsive.sm {
                    font-size: 24px;
                    width: 70%;
                }
            }



            .sub-header-text {

                font-family: 'Avenir Next';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 132%;
                letter-spacing: 0.04em;
                color: #4F4F4F;
                max-width: 70%;
                margin-bottom: 32px;

                @include responsive.sm {
                    font-size: 0.5em;
                    width: 70%;
                }
            }

        }

        .sub-header-graphic {

            @include responsive.sm {
                position: relative;
                z-index: -1;

            }



        }
    }

    .ellipse {

        position: absolute;
        width: 132px;
        height: 132px;
        background: linear-gradient(193.36deg, #647B64 -520.54%, rgba(100, 123, 100, 0) 97.86%);
        border-radius: 50%;
        top: 650px;
        left: calc(132px/-2);
    }

    .travel {

        font-family: 'Avenir Next';
        font-style: normal;
        display: flex;
        column-gap: 125px;
        margin-top: 142px;

        @include responsive.sm {
            flex-direction: column;
        }

        .travel-content {
            width: 40%;


            @include responsive.sm {
                width: 100%;
            }



            .color-wrapper-travel {
                

                @include responsive.sm {
                    min-width: 65%;
                }

                &::before {
                    content: "";
                    background: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.25%, rgba(239, 128, 49, 0.15) -19.98%, rgba(239, 128, 49, 0) 119.71%);
                    min-width: 50%;
                    height: 120px;
                    position: absolute;
                    left: 0px;
                    z-index: -1;
            
                }

                



                .travel-subhead {
                    @include responsive.sm {
                        padding-left: 30px;
                    }
                }

                .travel-head {
                    @include responsive.sm {
                        padding-left: 30px;
                        max-width: 70%;
                    }
                }

            }

            .travel-text {
                @include responsive.sm {
                    margin-left: 30px;
                    max-width: 70%;
                }
            }

            .start {

                @include responsive.sm {
                    margin-left: 30px;
                    
                }
            }



        }

        .travel-options {
            width: 60%;
            display: grid;
            gap: 100px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            @include responsive.sm {

                margin-top: 70px;
                display: grid;
                gap: 30px;
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr 1fr;
                margin-left: 30px;
                width: 80%;

            }


            .travel-option {

                padding: 40px;

                @include responsive.sm {

                    padding: 20px;

                }


                .travel-option-card {

                    width: 48px;
                    height: 48px;

                    @include responsive.sm {

                        width: 35px;
                        height: 35px;
                    }

                    background: white;
                    border-radius: 8px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .travel-option-text {

                    font-size: 13px;
                    line-height: 132%;
                    letter-spacing: 0.04em;
                    color: #4F4F4F;


                    @include responsive.sm {

                        font-size: 8px;
                    }

                }

                .travel-option-head {

                    font-size: 24px;
                    line-height: 116%;
                    color: #333333;


                    @include responsive.sm {
                        font-size: 12px;
                    }
                }





            }









        }


        .travel-option.car {
            background: #FFFFFF;
            box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
            border-radius: 8px;

            & .travel-option-card {

                background-color: #647B64;

            }
        }







    }

    .color-wrapper {
       
    

        @include responsive.sm {
            width: 260px;
            
        }
    }

    .color-wrapper-two {

        margin-top: 145px;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;


        .travel-head-two {

            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 500;
            font-size: 41px;
            line-height: 110%;
            text-align: left;
            text-transform: uppercase;
            color: #647B64;
            margin-top: 0px;
            padding-left: 0;
            padding-top: 17px;
            padding-bottom: 20px;


            @include responsive.sm {
                font-size: 20px;

            }

        }

        .travel-subhead {

            font-family: 'Avenir Next';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            text-transform: uppercase;
            color: #F3B562;

            @include responsive.sm {
                font-size: 13px;

            }

        }




    }

    .middle-section {

        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        @include responsive.sm {
            overflow: clip;
            gap: 20px;

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            margin-left: 40px;
        }



        .middle-card {

            font-size: 16px;
            line-height: 132%;


            letter-spacing: 0.04em;
            width: 360px;
            height: 338px;
            padding: 70px 50px 70px 50px;


            background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
            border-radius: 8px;


            @include responsive.sm {
                width: 160px;
                height: 160px;
                padding: 30px 20px;
                font-size: 8px;
                ;

            }

            & svg {
                height: 25%;
                width: 25%;
            }






            .middle-head {

                @include responsive.sm {
                    font-size: 10px;
                }

            }

            .middle-text {

                @include responsive.sm {
                    font-size: 8px;
                }

            }





            &.green {

                background: #647B64;
                border-radius: 8px;
                color: white;
            }

        }
    }

    .middle-2 {

        margin-top: 150px;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;

        @include responsive.sm {
            grid-template-columns: 20% 80%;
            margin-top: 80px;
            
        }

        .middle-2-photo {

            @include responsive.sm {
                overflow: clip;
                justify-self: flex-end;
                
            }

            & img {
                @include responsive.sm {
                    height: 307px;
                }
            }


        }



    }




    .middle-2-content {

        margin-left: 20px;
        margin-right: 30px;



    }

    .slide {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
    
    
        @include responsive.sm {
            gap: 20px;
            overflow: clip;
            grid-template-rows: 20% 1fr;
            margin-bottom: 65px;
        }
    
    
    
        .color-wrapper-three {
            margin-top: 145px;
            background: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            grid-row: 1 / 2;
            grid-column: 1 / 4;
            width: 100%;
            
    
            @include responsive.sm {
                margin-top: 0px;
                margin-left: 30px;
            }
    
        }
    
    
    
        .slide-card {
    
            width: 360px;
            height: 419px;
            display: grid;
            grid-template-columns: 55% auto;
            grid-template-rows: auto auto;
            background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
            border-radius: 8px;
    
            @include responsive.sm {
                    width: 233px;
                    height: 271px;
        
                }
    
            &.slide-card-1 {
    
                @include responsive.sm {
                   margin-left: 30px;
        
                }
    
            }
    
    
            & img {
    
    
                justify-self: end;
                align-self: end;
    
                @include responsive.sm {
                  
                    height: 173px;
        
                }
    
             
            }
    
    
            .slide-person {
    
    
                
    
                .slide-card-head {
    
                    font-variant: small-caps;
                    font-size: 16px;
                    margin-bottom: 0px;
    
                    @include responsive.sm {
    
                            font-size: 12px;
                    
                        }
    
                    
                }
    
                .slide-card-subhead {
                    font-variant: small-caps;
                    font-size: 13px;
    
                    @include responsive.sm {
    
                        font-size: 10px;
                
                    }
                }
            }
    
    
    
            .card-text {
    
                grid-row: 2 / 3;
                grid-column: 1 / 3;
    
                font-style: italic;
                font-weight: 400;
                font-size: 16px;
                line-height: 132%;
                letter-spacing: 0.04em;
                color: #4F4F4F;
                justify-self: center;
                align-self: center;
                margin-bottom: 0px;
                margin-top: 0px;
                padding: 24px 60px 32px 40px;
    
                @include responsive.sm {
                    padding: 20px;
                    font-size: 12px;
                }
            }
    
        }
    
        
    
    
    }
    
}

}
